:root {
  --maincoloreff: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ===== HEADER STYLES ===== */
.menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-link:hover,
.meni-link:focus {
  color: var(--maincoloreff);
}
.menu-link.current {
  color: var(--maincoloreff);
}

.contacts-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--maincoloreff);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #212121;
}
.logo-style {
  color: var(--maincoloreff);
}

/* ===== MAIN BANNER STYLES ===== */
.hero-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-btn {
  display: block;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--maincoloreff);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.hero-main {
  background: #2f303a;
}
/* ADVANTAGES STYLES */
.advantages-items-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantages-items-name-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* WHAT WE DO STYLES */
.whatwedo-main-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* TEAM STYLES */
.team-main {
  background: #f5f4fa;
}
.team-main-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list-items-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list-items-name-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ===== FOOTER STYLES ===== */
.footer-main {
  background: #2f303a;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-main {
  font-style: normal;
}

.address-list-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-list-link-second {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-list-link:hover,
.address-list-link:focus {
  color: var(--maincoloreff);
}

.address-list-link-second:hover,
.address-list-link-second:focus {
  color: var(--maincoloreff);
}

/* PORTFOLIO STYLES */
.modal-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.modal-button:hover,
.modal-button:focus {
  color: #ffffff;
  background: var(--maincoloreff);
}

.main-images-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.main-images-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
